/*Common elements*/
body {
	font-size: 1em;
	font-family: serif;
	background: #c4bbaa; 
	padding: 0;
	margin: 0;
}

h1 {
	color: green;
	font-size: 2em;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}

h2 {
	color: green;
	font-family: Ubuntu, Geneva, sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	margin: 0.5em 0 0.35em 0;
	padding: 0;
}

p {
	color: #2d1e02;
	font-size: 1.25em;
	line-height: 1.4em;
	margin: 0 0.5em 0.75em 0;
	padding: 0;
}

ol {
	font-size: 1em;
	margin: 0 0 0 1.0em;
	padding: 0 0 0 1.0em;
}

ol li {
	margin: 0;
	padding: 0 0 0.2em;
}

/*Nav Bars*/
.nav {
	font-size: 1.15em;
	letter-spacing: 0.04em;
	padding: 0.25em .25em 0 0;
	margin: 0 0 1.0em 0;
	float: right;
	max-width: 1110px;
	vertical-align: text-bottom;
	background-color: #4c4941;
	border-radius: 0.25em 0 0 0.25em;
	min-width: 640px;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
	margin: 0;
	vertical-align: text-bottom;
}

.nav li a, .nav li a:visited {
	text-decoration: none;
	color: #c4bbaa;
	padding: 1em 0.6em 0 0.6em;
}

.nav li a:hover {
	color: #efe8da;
	background-color: #605d52;
	font-weight: 300;
	font-family: serif;
}

/*Jumbotron*/
.jumbotron {
	margin-bottom: .25em;
	padding: 1em;
	padding-top: 3em;
	height: 12em;
	background-image: url(./img/jumbotron.jpg);
}

.container {
	margin-top: 2%;
	float: left;
	padding: 10px;
	border: 0.5em solid #4c4941;
	border-radius: 0.25em;
	background-color: #efe8da;
	position: relative;
	min-width: 481px;

}

.containerWords {
	float: right;
	margin-left: 5px;
}

#logo {
	border: 0.25em solid #4c4941;
	border-radius: 0.25em;
	box-shadow: 2px 2px 2px #777;
	float: left;
	max-width: 140px;
	margin: 5px;
}

.jumbotron h1 {
	text-align: center;
	color: green;
	font-family: Ubuntu, Geneva, sans-serif;
	font-weight: 600;
	margin-bottom: 0.15em;
}

.jumbotron p {
	text-align: center;
	color: #c6640d;
	font-family: serif;
	font-weight: 300;
	text-transform: uppercase;
}

/*Main Section*/
.main {
	width: 100%;
}

.main-body {
	/*width: 80%;
	float: right;
	min-width: 460px;*/
}

.main-1, .main-2, .main-3, .main-4 {
	border: 0.25em solid #4c4941;
	border-radius: 0.25em;
	background-color: #efe8da;
	display: inline-block;
	box-shadow: 2px 2px 2px #777;
	text-align: center;
	position: relative;
	margin: 2em;
	padding: 1em;
	float: right;
	max-width: 350px;
	min-height: 444px;

}

.mainau {
	border: 0.25em solid #4c4941;
	border-radius: 0.25em;
	background-color: #efe8da;
	box-shadow: 2px 2px 2px #777;
	text-align: left;
	position: relative;
	margin: 2em;
	padding: 1em;
}

.mainau h1 {
	text-align: center;
	font-family: Ubuntu, Geneva, sans-serif;
}

button.accordion {
	background-color: #c4bbaa;
	color: #c6640d;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: center;
	font-size: 1.25em;
	font-weight: 500;
	font-family: Ubuntu, Geneva, sans-serif;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-bottom: 1em;

}

button.accordion.active, button.accordion:hover {
	background-color: #4c4941;
	color: #efe8da;
}

button.accordion:after {
	content: '\2795';
	font-size: 13px;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2796";
}

div.panel {
	padding: 0 18px;
	background-color: #efe8da;
	color: #4c4941;
	font-size: 1em;
	font-family: serif;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.buyButton {
	padding: .2em .25em;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	width: 5em;
	color: #efe8da;
	font-family: Ubuntu, Geneva, sans-serif;
	background-color: green;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #4c4941;
}

.buyButton:hover {
	background-color: #3e8e41;
}

.buyButton:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/*Sidebar*/
section#sidebar {
	float: left;
	margin: 2em;
	width: 11%;
	display: block;
	position: relative;
}



.contact {
	min-width: 156px;
	border: 0.25em solid #4c4941;
	border-radius: 0.25em;
	background-color: #efe8da;
	padding: 1em;
	box-shadow: 2px 2px 2px #777;
	margin-top: 2em;
}

legend {
	color: green;
	font-family: Ubuntu, Geneva, sans-serif;
}

/*Footer*/
.footer {
	letter-spacing: 0.04em;
	padding: 0.5em 1.25em 0 0;
	margin: 0 0 1.0em 0;
	background-color: #4c4941;
	height: 25px;
	font-family: serif;
	font-size: 1em;
	color: #c4bbaa;
	width: 100%;
	text-align: center;
	padding: 1.5em 2em;
}

.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer li {
	display: inline-block;
	margin: 0;
	vertical-align: text-bottom;
}

.footer ul#menuFooter {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 0.6em;
	padding: 0;
}

.footer li a, .footer li a:visited {
	text-decoration: none;
	color: #c4bbaa;
	padding: 24px 0.6em 30px 0.6em;
	margin-right: 0;
	margin-left: 0;
}

.footer li a:hover {
	color: #efe8da;
	background-color: #605d52;
	font-weight: 300;
	font-family: serif;
}

.footer ul li:before {
	content: "|";
	padding-right: 0.7em;
}

.clear {
	clear: both;
	font-size: 1%;
}




